<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_camera_app"
        android:roundIcon="@drawable/ic_camera_app"
        android:label="X100 Video Camera"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".V21StockVideoBridgeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".V20VideoOnlyActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V19Real60Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V18LogicalTele60Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V17HighSpeedActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V16CorrectnessActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V15VideoUiActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V14PolishActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".X300UltraUiActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V12CameraActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".V11CameraActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".PhotoVideoActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".CameraChromeActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SmoothZoomActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AutoManualFocusActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FocusActivity" android:screenOrientation="portrait" android:exported="false" />
    </application>
</manifest>
